@using Microsoft.AspNetCore.Identity
@using lms_test1.Areas.Identity.Data
@inject UserManager<LMSUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - lms_test1</title>
    <script type="importmap"></script>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="//cdn.jsdelivr.net/combine/npm/purecss@3.0.0/build/base-min.css,npm/purecss@3.0.0/build/buttons-min.css,npm/purecss@3.0.0/build/forms-min.css,npm/purecss@3.0.0/build/grids-min.css,npm/purecss@3.0.0/build/grids-responsive-min.css,npm/purecss@3.0.0/build/tables-min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/simplebar.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/theme.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/htmx_test.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
    <style>
        @@media(min-width: 1200px) {
            .navbar-brand.onside {
            display: none !important;
            }
            .navbar-vertical-collapsed .navbar-brand.onside {
            display: block !important;
            }
            .navbar .avatar {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    </style>
</head>

<body>
    <main class="main" id="top">
      <div class="container" data-layout="container">

        <nav class="navbar navbar-light navbar-vertical navbar-expand-xl">
        
        <div class="d-flex align-items-center">
            <div class="toggle-icon-wrapper">
              <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
            </div> 

            <a class="navbar-brand onside" href="index.html">
              <span class="font-sans-serif text-primary">@ViewData["Title"]</span>
            </a>
        </div>

          <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
            <div class="navbar-vertical-content scrollbar">
                <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
                    <li class="nav-item">
                        <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                            <div class="col-auto navbar-vertical-label">LMS</div>
                            <div class="col ps-0">
                                <hr class="mb-0 navbar-vertical-divider" />
                            </div>
                        </div>

                        <!-- Home -->
                        <a class="nav-link @((Context.Request.Path == "/") ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index" role="button">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><span class="fas fa-home"></span></span>
                                <span class="nav-link-text ps-1">Home</span>
                            </div>
                        </a>

                        <!-- Privacy -->
                        <a class="nav-link @((Context.Request.Path.Value?.ToLower() == "/home/privacy") ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Privacy" role="button">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><span class="fas fa-user-shield"></span></span>
                                <span class="nav-link-text ps-1">Privacy</span>
                            </div>
                        </a>

                        @if (User.IsInRole("Admin"))
                        {                            
                            <a class="nav-link @(Context.Request.Path.Value?.ToLower().StartsWith("/teachersmanagement") == true ? "active" : "")" asp-area="" asp-controller="TeachersManagement" asp-action="Index" role="button">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-icon"><span class="fas fa-chalkboard-teacher"></span></span>
                                    <span class="nav-link-text ps-1">Teacher Management</span>
                                </div>
                            </a>
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("HeadTeacher"))
                        {                            
                            <a class="nav-link @(Context.Request.Path.Value?.ToLower().StartsWith("/sections") == true ? "active" : "")" asp-area="" asp-controller="Sections" asp-action="Index" role="button">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-icon"><span class="fas fa-th-large"></span></span>
                                    <span class="nav-link-text ps-1">Sections</span>
                                </div>
                            </a>
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("HeadTeacher"))
                        {                            
                            <a class="nav-link @(Context.Request.Path.Value?.ToLower().StartsWith("/students") == true ? "active" : "")" asp-area="" asp-controller="Students" asp-action="Index" role="button">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-icon"><span class="fas fa-user-graduate"></span></span>
                                    <span class="nav-link-text ps-1">Students</span>
                                </div>
                            </a>
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("HeadTeacher"))
                        {                            
                            <a class="nav-link @(Context.Request.Path.Value?.ToLower().StartsWith("/subjects") == true ? "active" : "")" asp-area="" asp-controller="Subjects" asp-action="Index" role="button">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-icon"><span class="fas fa-book"></span></span>
                                    <span class="nav-link-text ps-1">Subjects</span>
                                </div>
                            </a>
                        }

                        @if (User.IsInRole("HeadTeacher") || User.IsInRole("Teacher"))
                        {                            
                            <a class="nav-link @(Context.Request.Path.Value?.ToLower().StartsWith("/grades") == true ? "active" : "")" asp-area="" asp-controller="Grades" asp-action="Index" role="button">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-icon"><span class="fas fa-clipboard-list"></span></span>
                                    <span class="nav-link-text ps-1">Grades</span>
                                </div>
                            </a>
                        }

                        @if (User.IsInRole("Teacher"))
                        {                            
                            <a class="nav-link @(Context.Request.Path.Value?.ToLower().StartsWith("/advisory") == true ? "active" : "")" asp-area="" asp-controller="Advisory" asp-action="Index" role="button">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-icon"><span class="fas fa-users"></span></span>
                                    <span class="nav-link-text ps-1">Advisory</span>
                                </div>
                            </a>
                        }
                    </li>

                </ul>
            </div>
          </div>
        
        </nav>

        <div class="content">
            <nav class="navbar navbar-light navbar-glass navbar-top navbar-expand">
                <button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>

                <div class="navbar-brand me-1 me-sm-3">
                    <span class="font-sans-serif text-primary">@ViewData["Title"]</span>
                </div>


                <ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
                    <li class="nav-item dropdown">
                        <a class="nav-link pe-0 ps-2 d-flex align-items-center" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="avatar avatar-xl me-1">
                                <span class="fas fa-user"></span>
                            </div>
                            <span class="fw-bold">@User.Identity?.Name</span>
                        </a>
                        <div class="dropdown-menu dropdown-caret dropdown-caret dropdown-menu-end py-0" aria-labelledby="navbarDropdownUser">
                        <div class="bg-white dark__bg-1000 rounded-2 py-2">
                            @* <a class="dropdown-item fw-bold text-warning" href="#!"><span class="fas fa-crown me-1"></span><span>Go Pro</span></a> *@
                            @* <div class="dropdown-divider"></div> *@
                            @* <a class="dropdown-item" href="#!">Set status</a> *@
                            <a class="dropdown-item" href="pages/user/profile.html">Profile &amp; account</a>
                            @* <a class="dropdown-item" href="#!">Feedback</a> *@
                            <div class="dropdown-divider"></div>
                            @* <a class="dropdown-item" href="pages/user/settings.html">Settings</a> *@
                            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button  type="submit" class="dropdown-item">Logout</button>
                            </form>                            
                        </div>
                        </div>
                    </li>   
                </ul>
            </nav>
        
            @RenderBody()
        </div>

      </div>
    </main>
    
    
    @* <div class="site-wrap">

        <nav class="site-nav">            
            <div class="side-nav">
                <div class="name">
                    @User.Identity?.Name
                </div>
                
                    <ul class="nav-links">
                        <li @if(Context.Request.Path == "/") {
                        <text>class="active"</text>
                                                }
                            >
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            
                            
                            <ul>
                                <li @if(Context.Request.Path.Value?.ToLower() == "/home/privacy") {
                                <text>
                                    class="active"</text>
                                                                }
                                    >
                                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>
                            </ul>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li @if(Context.Request.Path.Value?.ToLower().StartsWith("/teachersmanagement") == true) {
                            <text>class="active"</text>
                                                        }
                                >
                                <a asp-area="" asp-controller="TeachersManagement" asp-action="Index">Teacher Management</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("HeadTeacher"))
                        {
                            <li @if(Context.Request.Path.Value?.ToLower().StartsWith("/sections") == true) {
                            <text>class="active"</text>
                                                        }
                                >
                                <a asp-area="" asp-controller="Sections" asp-action="Index">Sections</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("HeadTeacher"))
                        {
                            <li @if(Context.Request.Path.Value?.ToLower().StartsWith("/students") == true) {
                            <text>class="active"</text>
                                                        }
                                >
                                <a asp-area="" asp-controller="Students" asp-action="Index">Students</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("HeadTeacher"))
                        {
                            <li @if(Context.Request.Path.Value?.ToLower().StartsWith("/subjects") == true) {
                            <text>class="active"</text>
                                                        }
                                >
                                <a asp-area="" asp-controller="Subjects" asp-action="Index">Subjects</a>
                            </li>
                        }
                        @if (User.IsInRole("HeadTeacher") || User.IsInRole("Teacher"))
                        {
                            <li @if(Context.Request.Path.Value?.ToLower().StartsWith("/grades") == true) {
                            <text>class="active"</text>
                                                        }
                                >
                                <a asp-area="" asp-controller="Grades" asp-action="Index">Grades</a>
                            </li>
                        }
                        @if (User.IsInRole("Teacher"))
                        {
                            <li @if(Context.Request.Path.Value?.ToLower().StartsWith("/advisory") == true) {
                            <text>class="active"</text>
                                                        }
                                >
                                <a asp-area="" asp-controller="Advisory" asp-action="Index">Advisory</a>
                            </li>
                        }
                    </ul>
                    
            </div>
            <ul style="padding: .5rem 0;">
                <li>
                    <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button  type="submit" class="logout-button">Logout</button>
                    </form>
                </li>
            </ul>
            <button class="menu-toggle" aria-label="Toggle navigation">☰</button>
        </nav>

        <main>

            @RenderBody()


        </main>

    </div> *@


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/popper.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/anchor.min.js" asp-append-version="true"></script>
    <script src="~/js/is.min.js" asp-append-version="true"></script>
    <script src="~/js/echarts.min.js" asp-append-version="true"></script>
    <script src="~/js/all.min.js" asp-append-version="true"></script>
    <script src="~/js/lodash.min.js" asp-append-version="true"></script>
    <script src="~/js/list.min.js" asp-append-version="true"></script>
    <script src="~/js/theme.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    <script>
        const toggle = document.querySelector('.menu-toggle');
        const navLinks = document.querySelector('.nav-links');

        toggle.addEventListener('click', () => {
            console.log('clicked');
            navLinks.classList.toggle('show');
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
