@model lms_test1.Models.Section

@{
    ViewData["Title"] = "Sections";
    ViewData["Header"] = "Delete";
}

<nav class="mb-3" style="--falcon-breadcrumb-divider: '»';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-area="" asp-controller="Sections" asp-action="Index">Section Management</a>
    </li>
    
    <li class="breadcrumb-item active" aria-current="page">@ViewData["Header"]</li>
  </ol>
</nav>

<div class="card mb-3">
    <div class="card-header">
        <div class="row flex-between-center">
            <div class="col-6 col-sm-auto d-flex align-items-center pe-0">
                <h5>@ViewData["Header"] - @Model.Name</h5>
            </div>
            <div class="col-6 col-sm-auto ms-auto text-end ps-0">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-falcon-default btn-sm" type="button">Edit</a>
            </div>           
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <dl class="row">
                <dt class="col-12 col-md-4">@Html.DisplayNameFor(m => m.Name)</dt>
                <dd class="col-12 col-md-8">@Html.DisplayFor(m => m.Name)</dd>

                <dt class="col-12 col-md-4">@Html.DisplayNameFor(m => m.Strand)</dt>
                <dd class="col-12 col-md-8">@Html.DisplayFor(m => m.Strand)</dd>

                <dt class="col-12 col-md-4">@Html.DisplayNameFor(m => m.YearLevel)</dt>
                <dd class="col-12 col-md-8">@Html.DisplayFor(m => m.YearLevel)</dd>
            </dl>

            <div class="col-12">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>
