@model lms_test1.Models.ViewModels.Sections.SectionDetails

@{
    ViewData["Title"] = "Details";
}

<header>
    <div class="breadcrumbs">
        <a asp-area="" asp-controller="Sections" asp-action="Index">Section Management</a> > <a
            href="#0/">@ViewData["Title"]</a>
    </div>
    <h2 class="title">@ViewData["Title"] - @Model.Section.Name</h2>
</header>

<style>
    .prevent-overflow.px-8>*>* {
        margin-bottom: 1rem;
    }

    .prevent-overflow.px-8>* {
        margin-bottom: 1rem;
    }
</style>
<div class="prevent-overflow px-8">
    <div>
        <a asp-action="Index">Back to List</a> |
        <a asp-action="Edit" asp-route-id="@Model.Section.Id">Edit</a>
    </div>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
            <strong>@Html.DisplayNameFor(model => model.Section.Name)</strong>
        </div>
        <div class="pure-u-1 pure-u-md-2-3">
            @Html.DisplayFor(model => model.Section.Name)
        </div>
        <div class="pure-u-1 pure-u-md-1-3">
            <strong>@Html.DisplayNameFor(model => model.Section.Strand)</strong>
        </div>
        <div class="pure-u-1 pure-u-md-2-3">
            @Html.DisplayFor(model => model.Section.Strand)
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <strong>@Html.DisplayNameFor(model => model.Section.YearLevel)</strong>
        </div>
        <div class="pure-u-1 pure-u-md-2-3">
            @Html.DisplayFor(model => model.Section.YearLevel)
        </div>
        <div class="pure-u-1 pure-u-md-12-24">
            <strong>Students in this Section:</strong>
            
            <table style="margin-top: 1rem;" class="pure-table">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Students.Count == 0)
                    {
                        <tr><td colspan="2">No students are currently assigned to this section.</td></tr>
                    }
                    else
                    {
                        @foreach (var student in Model.Students)
                        {
                            <tr>
                                <td>@student.LastName , @student.FirstName @student.MiddleName</td>
                                <td>
                                    <a asp-controller="Students" asp-action="Details" asp-route-id="@student.Id">Details</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>

        <div class="pure-u-1 pure-u-md-12-24">
            <strong>Subjects in this Section:</strong>

            <table style="margin-top: 1rem;" class="pure-table">
                <thead>
                    <tr>
                        <th>Subject Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Subjects.Count == 0)
                    {
                        <tr><td colspan="2">No subjects are currently assigned to this section.</td></tr>
                    }
                    else
                    {
                        @foreach (var subject in Model.Subjects)
                        {
                            <tr>
                                <td>@subject.Name</td>
                                <td>
                                    <a asp-controller="Subjects" asp-action="Details" asp-route-id="@subject.Id">Details</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>