@model lms_test1.Models.ViewModels.Sections.SectionDetails

@{
    ViewData["Title"] = "Sections";
    ViewData["Header"] = "Details";
}

<nav class="mb-3" style="--falcon-breadcrumb-divider: '»';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-area="" asp-controller="Sections" asp-action="Index">Section Management</a>
    </li>
    
    <li class="breadcrumb-item active" aria-current="page">@ViewData["Header"]</li>
  </ol>
</nav>

<div class="card mb-3">
    <div class="card-header">
        <div class="row flex-between-center">
            <div class="col-6 col-sm-auto d-flex align-items-center pe-0">
                <h5>@ViewData["Header"] - @Model.Section.Name</h5>
            </div>
            <div class="col-6 col-sm-auto ms-auto text-end ps-0">
                <a asp-action="Edit" asp-route-id="@Model?.Section.Id" class="btn btn-falcon-default btn-sm" type="button">Edit</a>
            </div>           
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <dl class="row">
                <dt class="col-12 col-md-4">@Html.DisplayNameFor(m => m.Section.Name)</dt>
                <dd class="col-12 col-md-8">@Html.DisplayFor(m => m.Section.Name)</dd>

                <dt class="col-12 col-md-4">@Html.DisplayNameFor(m => m.Section.Strand)</dt>
                <dd class="col-12 col-md-8">@Html.DisplayFor(m => m.Section.Strand)</dd>

                <dt class="col-12 col-md-4">@Html.DisplayNameFor(m => m.Section.YearLevel)</dt>
                <dd class="col-12 col-md-8">@Html.DisplayFor(m => m.Section.YearLevel)</dd>
            </dl>

            <div class="col-12 col-md-6">
                <strong>Students in this Section:</strong>
                @if (Model.Students.Count == 0)
                {
                    <em class="d-block mt-3">No students are currently assigned to this section.</em>
                }
                else
                {
                    <table class="table table-bordered mt-3">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var student in Model.Students)
                            {
                                <tr>
                                    <td>@student.LastName , @student.FirstName @student.MiddleName</td>
                                    <td>
                                        <a asp-controller="Students" asp-action="Details" asp-route-id="@student.Id">Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>

            <div class="col-12 col-md-6">
                <strong>Subjects in this Section:</strong>
                @if (Model.Subjects.Count == 0)
                {
                    <em class="d-block mt-3">No subjects are currently assigned to this section.</em>
                }
                else
                {
                    <table class="table table-bordered mt-3">
                        <thead>
                            <tr>
                                <th>Subject Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var subject in Model.Subjects)
                            {
                                <tr>
                                    <td>@subject.Name</td>
                                    <td>
                                        <a asp-controller="Subjects" asp-action="Details" asp-route-id="@subject.Id">Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>