@model lms_test1.Models.DTO.Advisory.SectionWithStudentsWithScoresDTO

@{
    ViewData["Title"] = Model.Section.Name;
    int subjectCount = Model.Section.TeacherSubjectSections?.Select(tss => tss.TeacherSubject.Subject).Distinct().Count() ??
    0;
    subjectCount += 3;
}

<nav class="mb-3" style="--falcon-breadcrumb-divider: '»';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Advisory" asp-action="Index">Advisories</a></li>
    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
  </ol>
</nav>

<div class="row g-0">
    <div class="col-xxl-9 col-md-12">
        <div class="card z-1">
        
            <div class="card-header">
                <div class="row flex-between-center">
                    <div class="col-6 col-sm-auto d-flex align-items-center pe-0">
                        <form>
                            <div class="input-group">
                                <input id="searchBox" class="form-control form-control-sm shadow-none" type="search" placeholder="Search..." aria-label="search" />
                                <div class="input-group-text bg-transparent"><span class="fa fa-search fs-10 text-600"></span></div>
                            </div>
                        </form>
                    </div>
                    <div class="col-6 col-sm-auto ms-auto text-end ps-0">                    
                        <div id="table-purchases-replace-element">
                            <a asp-action="Create" class="btn btn-falcon-default btn-sm" type="button">
                                <span class="ms-1 fas fa-plus" data-fa-transform="shrink-2"></span>
                                <span class="d-none d-sm-inline-block ms-1">New</span>
                            </a>                            
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card-body px-0 py-0">
                <div class="table-responsive scrollbar">
                    <table class="table table-sm fs-10 mb-0 overflow-hidden">
                        <thead class="bg-200">
                            <tr>                        
                                <th class="text-900 pe-1 align-middle white-space-nowrap">
                                    Full Name
                                </th>
                                @if (Model.Section.TeacherSubjectSections!.Any())
                                {
                                    foreach (var subject in Model.Section.TeacherSubjectSections!.Select(tss =>
                                    tss.TeacherSubject.Subject).Distinct())
                                    {
                                        <th class="text-900 pe-1 align-middle white-space-nowrap text-center" >@subject.Name</th>
                                    }
                                }                   
                                <th class="no-sort pe-1 align-middle data-table-row-action"></th>
                            </tr>
                        </thead>

                        <tbody class="list" id="table-students-body">
                            @if (Model.Students.Where(s => s.Gender == 'M').ToList().Count() > 0)
                            {
                                <tr style="border-bottom: 1px solid #888;">
                                    <td>Male</td>
                                </tr>
                            }
                            @foreach (var student in Model.Students.Where(s => s.Gender == 'M'))
                            {
                                <tr class="btn-reveal-trigger">
                                    <td class="align-middle white-space-nowrap">@Html.DisplayFor(m => student.FirstName), @Html.DisplayFor(m => student.LastName), @Html.DisplayFor(m => student.MiddleName[0]).</td>
                                    @if (Model.Section.TeacherSubjectSections!.Any())
                                    {
                                        foreach (var subject in Model.Section.TeacherSubjectSections!.Select(tss =>
                                        tss.TeacherSubject.Subject).Distinct())
                                        {
                                            <td class="align-middle white-space-nowrap text-center">
                                                @{
                                                    var score = student.Scores?.FirstOrDefault(sc => sc.TeacherSubject.SubjectId == subject.Id);
                                                    if (score != null)
                                                    {
                                                        @score.FinalGrade_First
                                                    }
                                                    else
                                                    {
                                                        @Html.Raw("<span style='color: #888; font-style: italic;'>N/A</span>")
                                                    }
                                                }
                                            </td>
                                        }
                                    }
                                </tr>
                            }
                            @if (Model.Students.Where(s => s.Gender == 'F').ToList().Count() > 0)
                            {
                                <tr style="border-bottom: 1px solid #888; border-top: 1px solid #888;">
                                    <td>Female</td>
                                </tr>
                            }
                            @foreach (var student in Model.Students.Where(s => s.Gender == 'F'))
                            {
                                <tr class="btn-reveal-trigger">
                                    <td class="align-middle white-space-nowrap">@Html.DisplayFor(m => student.FirstName), @Html.DisplayFor(m => student.LastName), @Html.DisplayFor(m => student.MiddleName[0]).</td>
                                    @if (Model.Section.TeacherSubjectSections!.Any())
                                    {
                                        foreach (var subject in Model.Section.TeacherSubjectSections!.Select(tss =>
                                        tss.TeacherSubject.Subject).Distinct())
                                        {
                                            <td class="align-middle white-space-nowrap text-center">
                                                @{
                                                    var score = student.Scores?.FirstOrDefault(sc => sc.TeacherSubject.SubjectId == subject.Id);
                                                    if (score != null)
                                                    {
                                                        @score.FinalGrade_First
                                                    }
                                                    else
                                                    {
                                                        @Html.Raw("<span style='color: #888; font-style: italic;'>N/A</span>")
                                                    }
                                                }
                                            </td>
                                        }
                                    }
                                </tr>
                            }
                            @* @foreach (var item in Model) {
                                <tr class="btn-reveal-trigger">
                                    <th class="align-middle white-space-nowrap">
                                        <a asp-action="Details" asp-route-id="@item.Id">                                            
                                            @Html.DisplayFor(modelItem => item.LastName), @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.MiddleName)
                                        </a>
                                    </th>
                                    
                                    <td class="align-middle white-space-nowrap text-end">                              
                                        <div class="dropstart font-sans-serif position-static d-inline-block">
                                            <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal float-end" type="button" id="dropdown-recent-purchase-table-0" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><svg class="svg-inline--fa fa-ellipsis-h fa-w-16 fs-10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg></button>
                                            <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-recent-purchase-table-0">
                                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>                                
                                            </div>
                                        </div>
                                    </td>
                                </tr>  
                            }                   *@
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer">                              
            </div>
        </div>
    </div>
</div>

<div class="prevent-overflow px-8">
    <table class="pure-table">
        <thead>
            <tr>
                <th>Student</th>
                @if (Model.Section.TeacherSubjectSections!.Any())
                {
                    foreach (var subject in Model.Section.TeacherSubjectSections!.Select(tss =>
                    tss.TeacherSubject.Subject).Distinct())
                    {
                        <th style="text-align: center;">@subject.Name</th>
                    }
                }
            </tr>
        </thead>
        <tbody id="studentTableBody">
            @if (Model.Students == null || !Model.Students.Any())
            {
                <tr>
                    <td colspan="@subjectCount" style="text-align: center; font-style: italic; color: #888;">
                        No students found.
                    </td>
                </tr>
            }
            else
            {
                if (Model.Students.Where(s => s.Gender == 'M').ToList().Count() > 0)
                {
                    <tr style="border-bottom: 1px solid #888;">
                        <td>Male</td>
                    </tr>
                }
                foreach (var student in Model.Students.Where(s => s.Gender == 'M'))
                {
                    <tr>
                        <td>@Html.DisplayFor(m => student.FirstName), @Html.DisplayFor(m => student.LastName), @Html.DisplayFor(m => student.MiddleName[0]).</td>
                        @if (Model.Section.TeacherSubjectSections!.Any())
                        {
                            foreach (var subject in Model.Section.TeacherSubjectSections!.Select(tss =>
                            tss.TeacherSubject.Subject).Distinct())
                            {
                                <td style="text-align: center;">
                                    @{
                                        var score = student.Scores?.FirstOrDefault(sc => sc.TeacherSubject.SubjectId == subject.Id);
                                        if (score != null)
                                        {
                                            @score.FinalGrade_First
                                        }
                                        else
                                        {
                                            @Html.Raw("<span style='color: #888; font-style: italic;'>N/A</span>")
                                        }
                                    }
                                </td>
                            }
                        }
                    </tr>
                }
                if (Model.Students.Where(s => s.Gender == 'F').ToList().Count() > 0)
                {
                    <tr style="border-bottom: 1px solid #888; border-top: 1px solid #888;">
                        <td>Female</td>
                    </tr>
                }
                foreach (var student in Model.Students.Where(s => s.Gender == 'F'))
                {
                    <tr>
                        <td>@Html.DisplayFor(m => student.FirstName), @Html.DisplayFor(m => student.LastName), @Html.DisplayFor(m => student.MiddleName[0]).</td>
                        @if (Model.Section.TeacherSubjectSections!.Any())
                        {
                            foreach (var subject in Model.Section.TeacherSubjectSections!.Select(tss =>
                            tss.TeacherSubject.Subject).Distinct())
                            {
                                <td style="text-align: center;">
                                    @{
                                        var score = student.Scores?.FirstOrDefault(sc => sc.TeacherSubject.SubjectId == subject.Id);
                                        if (score != null)
                                        {
                                            @score.FinalGrade_First
                                        }
                                        else
                                        {
                                            @Html.Raw("<span style='color: #888; font-style: italic;'>N/A</span>")
                                        }
                                    }
                                </td>
                            }
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(function () {
            $("#searchBox").on("keyup", function () {
                var query = $(this).val();

                $.get('@Url.Action("SearchStudent", "Advisory")', { searchTerm: query, sectionId: '@Model.Section.Id' }, function (data) {
                    $("#studentTableBody").html(data);
                });
            });
        });
    </script>
}