@model lms_test1.Models.ViewModels.Subject.SubjectDetails

@{
    ViewData["Title"] = "Subjects";
    ViewData["Header"] = "Details";
}

<nav class="mb-3" style="--falcon-breadcrumb-divider: '»';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-area="" asp-controller="Subjects" asp-action="Index">Subject Management</a>
    </li>
    
    <li class="breadcrumb-item active" aria-current="page">@ViewData["Header"]</li>
  </ol>
</nav>

<div class="card mb-3">
    <div class="card-header">
        <div class="row flex-between-center">
            <div class="col-6 col-sm-auto d-flex align-items-center pe-0">
                <h5>@ViewData["Header"] - @Model.Subject.Name</h5>
            </div>
            <div class="col-6 col-sm-auto ms-auto text-end ps-0">
                <a asp-action="Edit" asp-route-id="@Model?.Subject.Id" class="btn btn-falcon-default btn-sm" type="button">Edit</a>
            </div>           
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <dl class="row">
                <dt class="col-12 col-md-4">@Html.DisplayNameFor(m => m.Subject.Name)</dt>
                <dd class="col-12 col-md-8">@Html.DisplayFor(m => m.Subject.Name)</dd>

                <dt class="col-12 col-md-4">@Html.DisplayNameFor(m => m.Subject.Track)</dt>
                <dd class="col-12 col-md-8">@Html.DisplayFor(m => m.Subject.Track)</dd>
            </dl>

            <div class="col-12 col-md-6">
                <strong>Teachers for this Subject:</strong>
                @if (Model.Teachers.Count == 0)
                {
                    <em class="d-block mt-3">No teachers assigned to this subject.</em>
                }
                else
                {
                    <table class="table table-bordered mt-3">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var teacher in Model.Teachers)
                            {
                                <tr>
                                    <td>@teacher.LastName , @teacher.FirstName @teacher.MiddleName</td>
                                    <td>
                                        <a asp-controller="TeachersManagement" asp-action="Details" asp-route-id="@teacher.Id">Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>

            <div class="col-12 col-md-6">
                <strong>Sections offering this Subject:</strong>
                @if (Model.Sections.Count == 0)
                {
                    <em class="d-block mt-3">No sections are currently offering this subject.</em>
                }
                else
                {
                    <table class="table table-bordered mt-3">
                        <thead>
                            <tr>
                                <th>Section Name</th>
                                <th>Year Level</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Section in Model.Sections)
                            {
                                <tr>
                                    <td>@Section.Name</td>
                                    <td>@Section.YearLevel</td>
                                    <td>
                                        <a asp-controller="Sections" asp-action="Details" asp-route-id="@Section.Id">Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
