@model IEnumerable<lms_test1.Models.DTO.Student.StudentInListDTO>

@if (!Model.Any())
{
    <tr>
        <td colspan="3" style="text-align: center; font-style: italic; color: #888;">
            No students found.
        </td>
    </tr>
}
else
{
    if (Model.Where(s => s.Gender == 'M').ToList().Count() > 0)
    {
        <tr style="border-bottom: 1px solid #888;">
            <td>Male</td>
        </tr>
    }
    foreach (var student in Model.Where(s => s.Gender == 'M'))
    {
        <tr>
            <td>@Html.DisplayFor(m => student.FirstName)</td>
            <td>@Html.DisplayFor(m => student.LastName)</td>
            <td>@Html.DisplayFor(m => student.MiddleName)</td>
        </tr>
    }
    if (Model.Where(s => s.Gender == 'F').ToList().Count() > 0)
    {
        <tr style="border-bottom: 1px solid #888; border-top: 1px solid #888;">
            <td>Female</td>
        </tr>
    }
    foreach (var student in Model.Where(s => s.Gender == 'F'))
    {
        <tr>
            <td>@Html.DisplayFor(m => student.FirstName)</td>
            <td>@Html.DisplayFor(m => student.LastName)</td>
            <td>@Html.DisplayFor(m => student.MiddleName)</td>
        </tr>
    }
}