@model lms_test1.Models.ViewModels.Grade.StudentScoresViewModel

@{
    ViewData["Title"] = "Scores of " + Model.Student.LastName + ", " + Model.Student.FirstName;
    int wwcount = 0;
    int ptcount = 0;

    if(Model.TeacherSubject.WW1_First != 0) wwcount++;
    if(Model.TeacherSubject.WW2_First != 0) wwcount++;
    if(Model.TeacherSubject.WW3_First != 0) wwcount++;
    if(Model.TeacherSubject.WW4_First != 0) wwcount++;
    if(Model.TeacherSubject.WW5_First != 0) wwcount++;
    if(Model.TeacherSubject.WW6_First != 0) wwcount++;
    if(Model.TeacherSubject.WW7_First != 0) wwcount++;
    if(Model.TeacherSubject.WW8_First != 0) wwcount++;
    if(Model.TeacherSubject.WW9_First != 0) wwcount++;
    if(Model.TeacherSubject.WW10_First != 0) wwcount++;

    if(Model.TeacherSubject.PT1_First != 0) ptcount++;
    if(Model.TeacherSubject.PT2_First != 0) ptcount++;
    if(Model.TeacherSubject.PT3_First != 0) ptcount++;
    if(Model.TeacherSubject.PT4_First != 0) ptcount++;
    if(Model.TeacherSubject.PT5_First != 0) ptcount++;
    if(Model.TeacherSubject.PT6_First != 0) ptcount++;
    if(Model.TeacherSubject.PT7_First != 0) ptcount++;
    if(Model.TeacherSubject.PT8_First != 0) ptcount++;
    if(Model.TeacherSubject.PT9_First != 0) ptcount++;
    if(Model.TeacherSubject.PT10_First != 0) ptcount++;

}

<header>
    <div class="breadcrumbs mx-auto">
        <a asp-controller="Grades" asp-action="Index">My Subjects</a> >
        <a asp-controller="Grades" asp-action="SubjectDetails" asp-route-teacherSubjectId="@Model.TeacherSubject.Id">
            @Model.TeacherSubject.Subject.Name Details 
        </a> >
        <a asp-controller="Grades" asp-action="SectionStudents" asp-route-teacherSubjectId="@Model.TeacherSubject.Id" asp-route-sectionId="@Model.TeacherSubject.TeacherSubjectSections.First().Section.Id">
            Students in @Model.TeacherSubject.TeacherSubjectSections.First().Section.Name  
        </a> >
        <span>@ViewData["Title"]</span>
    </div>

    <h2 class="title">@ViewData["Title"] in @Model.TeacherSubject.Subject.Name</h2>

</header>

<div class="prevent-overflow px-8">
    <table class="pure-table">
        <thead>
            <tr>
                <th></th>
                @if(wwcount == 0) { <th>No Written Works</th> }
                else
                {
                    @if(Model.TeacherSubject.WW1_First != 0) { <th>@Model.TeacherSubject.WW1_First</th> }
                    @if(Model.TeacherSubject.WW2_First != 0) { <th>@Model.TeacherSubject.WW2_First</th> }
                    @if(Model.TeacherSubject.WW3_First != 0) { <th>@Model.TeacherSubject.WW3_First</th> }
                    @if(Model.TeacherSubject.WW4_First != 0) { <th>@Model.TeacherSubject.WW4_First</th> }
                    @if(Model.TeacherSubject.WW5_First != 0) { <th>@Model.TeacherSubject.WW5_First</th> }
                    @if(Model.TeacherSubject.WW6_First != 0) { <th>@Model.TeacherSubject.WW6_First</th> }
                    @if(Model.TeacherSubject.WW7_First != 0) { <th>@Model.TeacherSubject.WW7_First</th> }
                    @if(Model.TeacherSubject.WW8_First != 0) { <th>@Model.TeacherSubject.WW8_First</th> }
                    @if(Model.TeacherSubject.WW9_First != 0) { <th>@Model.TeacherSubject.WW9_First</th> }
                    @if(Model.TeacherSubject.WW10_First != 0) { <th>@Model.TeacherSubject.WW10_First</th> }
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Written Works</td>
                @if(wwcount == 0) { <th>No Written Works</th> }
                else
                {
                    @if(Model.TeacherSubject.WW1_First != 0) { <td>@(Model.StudentScore?.WW1_First ?? 0)</td> }
                    @if(Model.TeacherSubject.WW2_First != 0) { <td>@(Model.StudentScore?.WW2_First ?? 0)</td> }
                    @if(Model.TeacherSubject.WW3_First != 0) { <td>@(Model.StudentScore?.WW3_First ?? 0)</td> }
                    @if(Model.TeacherSubject.WW4_First != 0) { <td>@(Model.StudentScore?.WW4_First ?? 0)</td> }
                    @if(Model.TeacherSubject.WW5_First != 0) { <td>@(Model.StudentScore?.WW5_First ?? 0)</td> }
                    @if(Model.TeacherSubject.WW6_First != 0) { <td>@(Model.StudentScore?.WW6_First ?? 0)</td> }
                    @if(Model.TeacherSubject.WW7_First != 0) { <td>@(Model.StudentScore?.WW7_First ?? 0)</td> }
                    @if(Model.TeacherSubject.WW8_First != 0) { <td>@(Model.StudentScore?.WW8_First ?? 0)</td> }
                    @if(Model.TeacherSubject.WW9_First != 0) { <td>@(Model.StudentScore?.WW9_First ?? 0)</td> }
                    @if(Model.TeacherSubject.WW10_First != 0) { <td>@(Model.StudentScore?.WW10_First ?? 0)</td> }
                }
            </tr>        
        </tbody>    
    </table>        
    <table class="pure-table">
        <thead>
            <tr>
                <th></th>
                @if(ptcount == 0) { <th>No Performance Tasks</th> }
                else
                {
                    @if(Model.TeacherSubject.PT1_First != 0) { <th>@Model.TeacherSubject.PT1_First</th> }
                    @if(Model.TeacherSubject.PT2_First != 0) { <th>@Model.TeacherSubject.PT2_First</th> }
                    @if(Model.TeacherSubject.PT3_First != 0) { <th>@Model.TeacherSubject.PT3_First</th> }
                    @if(Model.TeacherSubject.PT4_First != 0) { <th>@Model.TeacherSubject.PT4_First</th> }
                    @if(Model.TeacherSubject.PT5_First != 0) { <th>@Model.TeacherSubject.PT5_First</th> }
                    @if(Model.TeacherSubject.PT6_First != 0) { <th>@Model.TeacherSubject.PT6_First</th> }
                    @if(Model.TeacherSubject.PT7_First != 0) { <th>@Model.TeacherSubject.PT7_First</th> }
                    @if(Model.TeacherSubject.PT8_First != 0) { <th>@Model.TeacherSubject.PT8_First</th> }
                    @if(Model.TeacherSubject.PT9_First != 0) { <th>@Model.TeacherSubject.PT9_First</th> }
                    @if(Model.TeacherSubject.PT10_First != 0) { <th>@Model.TeacherSubject.PT10_First</th> }
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Performance Tasks</td>
                @if(ptcount == 0) { <th>No Performance Tasks</th> }
                else
                {
                    @if(Model.TeacherSubject.PT1_First != 0) { <td>@(Model.StudentScore?.PT1_First ?? 0)</td> }
                    @if(Model.TeacherSubject.PT2_First != 0) { <td>@(Model.StudentScore?.PT2_First ?? 0)</td> }
                    @if(Model.TeacherSubject.PT3_First != 0) { <td>@(Model.StudentScore?.PT3_First ?? 0)</td> }
                    @if(Model.TeacherSubject.PT4_First != 0) { <td>@(Model.StudentScore?.PT4_First ?? 0)</td> }
                    @if(Model.TeacherSubject.PT5_First != 0) { <td>@(Model.StudentScore?.PT5_First ?? 0)</td> }
                    @if(Model.TeacherSubject.PT6_First != 0) { <td>@(Model.StudentScore?.PT6_First ?? 0)</td> }
                    @if(Model.TeacherSubject.PT7_First != 0) { <td>@(Model.StudentScore?.PT7_First ?? 0)</td> }
                    @if(Model.TeacherSubject.PT8_First != 0) { <td>@(Model.StudentScore?.PT8_First ?? 0)</td> }
                    @if(Model.TeacherSubject.PT9_First != 0) { <td>@(Model.StudentScore?.PT9_First ?? 0)</td> }
                    @if(Model.TeacherSubject.PT10_First != 0) { <td>@(Model.StudentScore?.PT10_First ?? 0)</td> }
                }
            </tr>        
        </tbody>    
    </table>        
</div>