@model lms_test1.Models.ViewModels.TeachersManagement.LMSUserDetailViewModel

@{
    ViewData["Title"] = "Teachers";
    ViewData["Header"] = "Delete";
}

<nav class="mb-3" style="--falcon-breadcrumb-divider: '»';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-area="" asp-controller="TeachersManagement" asp-action="Index">Teacher Management</a>
    </li>
    
    <li class="breadcrumb-item active" aria-current="page">@ViewData["Header"]</li>
  </ol>
</nav>

<div class="card mb-3">
    <div class="card-header">
        <div class="row flex-between-center">
            <div class="col-6 col-sm-auto d-flex align-items-center pe-0">
                <h5>@ViewData["Header"] - @Model.LastName, @Model.FirstName</h5>
            </div>
            <div class="col-6 col-sm-auto ms-auto text-end ps-0">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-falcon-default btn-sm" type="button">Edit</a>
                <a asp-action="Assign" asp-route-id="@Model?.Id" class="btn btn-falcon-default btn-sm" type="button">Assign</a> 
            </div>           
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <dl class="row">
                <dt class="col-12 col-md-4">@Html.DisplayNameFor(m => m.Verified)</dt>
                <dd class="col-12 col-md-8">@Html.DisplayFor(m => m.Verified)</dd>

                <dt class="col-12 col-md-4">@Html.DisplayNameFor(m => m.LastName)</dt>
                <dd class="col-12 col-md-8">@Html.DisplayFor(m => m.LastName)</dd>

                <dt class="col-12 col-md-4">@Html.DisplayNameFor(m => m.MiddleName)</dt>
                <dd class="col-12 col-md-8">@Html.DisplayFor(m => m.MiddleName)</dd>

                <dt class="col-12 col-md-4">@Html.DisplayNameFor(m => m.FirstName)</dt>
                <dd class="col-12 col-md-8">@Html.DisplayFor(m => m.FirstName)</dd>

                <dt class="col-12 col-md-4">@Html.DisplayNameFor(m => m.UserName)</dt>
                <dd class="col-12 col-md-8">@Html.DisplayFor(m => m.UserName)</dd>

                <dt class="col-12 col-md-4">@Html.DisplayNameFor(m => m.Email)</dt>
                <dd class="col-12 col-md-8">@Html.DisplayFor(m => m.Email)</dd>
            </dl>


            <div class="col-12 col-md-6">
                <strong>@Html.DisplayNameFor(model => model.AdvisorySections)</strong>
                @if (Model!.AdvisorySections != null && Model.AdvisorySections.Any())
                {
                    <table class="table table-bordered mt-3">
                        <thead>
                            <tr>
                                <th>Section</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Section in Model.AdvisorySections)
                            {
                                <tr>
                                    <td>@Section.Name</td>
                                    <td>
                                        <a asp-controller="Sections" asp-action="Details" asp-route-id="@Section.Id">Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <em>No advisory sections assigned</em>
                }
            </div>

            <div class="col-12 col-md-6">
                <strong>Subjects</strong>
                @if (Model.TeacherSubjects.Any())
                {
                    <table class="table table-bordered mt-3">
                        <thead>
                            <tr>
                                <th>Subject</th>
                                <th>Sections</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ts in Model.TeacherSubjects)
                            {
                                <tr>
                                    <td><strong>@ts.SubjectName</strong></td>
                                    <td>
                                        @if (ts.SectionNames.Any())
                                        {
                                            @foreach (var sec in ts.SectionNames)
                                            {
                                                @sec<br />
                                            }
                                        }
                                        else
                                        {
                                            <span>No sections assigned</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p><em>No subjects assigned</em></p>
                }
            </div>
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </div>
    </div>
</div>