@model IEnumerable<lms_test1.Models.ViewModels.TeachersManagement.UserWithRolesViewModel>

@{
    ViewData["Title"] = "Teachers";
    ViewData["Header"] = "Teacher Management";
}

<nav class="mb-3" style="--falcon-breadcrumb-divider: '»';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">@ViewData["Header"]</li>
  </ol>
</nav>


<div class="row g-0">
    <div class="col-xxl-9 col-md-12">
        <div class="card z-1" id="teachersTable" data-list="{&quot;valueNames&quot;:[&quot;initials&quot;,&quot;role&quot;,&quot;verified&quot;],&quot;page&quot;:7,&quot;pagination&quot;:true}">
            <div class="card-header">
                <div class="row flex-between-center">
                    <div class="col-6 col-sm-auto d-flex align-items-center pe-0">
                        <form>
                            <div class="input-group">
                                <input class="form-control form-control-sm shadow-none search" type="search" placeholder="Search..." aria-label="search" />
                                <div class="input-group-text bg-transparent"><span class="fa fa-search fs-10 text-600"></span></div>
                            </div>
                        </form>
                    </div>
                    <div class="col-6 col-sm-auto ms-auto text-end ps-0">                    
                        <div id="table-purchases-replace-element">
                            <a asp-action="Create" class="btn btn-falcon-default btn-sm" type="button">
                                @* <svg class="svg-inline--fa fa-plus fa-w-14" data-fa-transform="shrink-3 down-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="" style="transform-origin: 0.4375em 0.625em;"><g transform="translate(224 256)"><g transform="translate(0, 64)  scale(0.8125, 0.8125)  rotate(0 0 0)"><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" transform="translate(-224 -256)"></path></g></g></svg> *@
                                <span class="ms-1 fas fa-plus" data-fa-transform="shrink-2"></span>
                                <span class="d-none d-sm-inline-block ms-1">New</span>
                            </a>                            
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card-body px-0 py-0">
                <div class="table-responsive scrollbar">
                <table class="table table-sm fs-10 mb-0 overflow-hidden">
                    <thead class="bg-200">
                        <tr>                        
                            <th class="text-900 sort pe-1 align-middle white-space-nowrap" data-sort="initials">
                                Name
                            </th>
                            <th class="text-900 sort pe-1 align-middle white-space-nowrap" data-sort="role">
                                @Html.DisplayNameFor(model => model.Role)
                            </th>
                            <th class="text-900 sort pe-1 align-middle white-space-nowrap text-center" data-sort="verified">
                                @Html.DisplayNameFor(model => model.Verified)
                            </th>
                            @* <th class="text-900 sort pe-1 align-middle white-space-nowrap text-center" data-sort="payment">Payment</th>
                            <th class="text-900 sort pe-1 align-middle white-space-nowrap text-end" data-sort="amount">Amount</th> *@
                            <th class="no-sort pe-1 align-middle data-table-row-action"></th>
                        </tr>
                    </thead>

                    <tbody class="list d-none" id="table-teachers-body">
                        @foreach (var item in Model.Where(u => !u.Initials.Contains("Admin"))) {
                            <tr class="btn-reveal-trigger">
                                <th class="align-middle white-space-nowrap initials">
                                    <a asp-action="Details" asp-route-id="@item.Id">
                                        @Html.DisplayFor(modelItem => item.Initials)
                                    </a>
                                </th>
                                <td class="align-middle white-space-nowrap role">
                                    @Html.DisplayFor(modelItem => item.Role)
                                </td>
                                <td class="align-middle text-center fs-9 white-space-nowrap verified">
                                    @if (item.Verified)
                                    {
                                        <span class="badge badge rounded-pill badge-subtle-success">
                                            Verified
                                            <span class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span>
                                        </span>
                                        
                                    }
                                    else
                                    {
                                        <span class="badge badge rounded-pill badge-subtle-secondary">
                                            Unverified
                                            <span class="ms-1 fas fa-ban" data-fa-transform="shrink-2"></span>
                                        </span>
                                    }
                                </td>                                                                                    
                            
                                <td class="align-middle white-space-nowrap text-end">                              
                                    <div class="dropstart font-sans-serif position-static d-inline-block">
                                    <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal float-end" type="button" id="dropdown-recent-purchase-table-0" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><svg class="svg-inline--fa fa-ellipsis-h fa-w-16 fs-10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg></button>
                                        <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-recent-purchase-table-0">
                                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                            <a class="dropdown-item" asp-action="Assign" asp-route-id="@item.Id">Assign</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>                                
                                        </div>
                                    </div>
                                </td>
                            </tr>  
                        }                  
                    </tbody>
                </table>
                <div id="teachers-table-wrapper">
                        <!-- Loading spinner -->
                        <div id="loading-spinner" class="text-center my-3">
                        <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center mt-3">
                    <button class="btn btn-sm btn-falcon-default me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                    <ul class="pagination mb-0"></ul>
                    <button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        document.addEventListener("listInitialized", function (e) {
            //console.log("Caught event:", e.detail.message);
            document.getElementById("loading-spinner").classList.add("d-none");
            document.getElementById("table-teachers-body").classList.remove("d-none");
        });
    </script>
}
@* 
<div class="prevent-overflow px-8">
        <table class="pure-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Verified)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Initials)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                    <th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.Where(u => !u.Initials.Contains("Admin"))) {
                <tr>
                    <td>
                        @(item.Verified ? "Yes" : "No")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Initials)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Assign" asp-route-id="@item.Id">Assign</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    
</div> *@
